.banner {
  background: #000;
  padding: 30px;
  text-align: center;
}

.banner-title {
  color: #fff;
}

.home {
  margin-top: 30px;
  width: 100%;
  text-align: center;
}

.content {
  margin: auto;
  width: 70%;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  position: relative;
}

.store-container {
  width: 100%;
}

.shopping-cart-container {
  position: absolute;
  top: 20px;
  right: 20px;
}
